<!DOCTYPE html>
<html lang="en" data-theme="<%= page.theme %>"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page.title %> | <%= site.site_title %></title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <nav>
    <% for(const label of site.navigation) { %> 
        <a href="<%= label.href %>"><%= label.label %></a>
    <% } %>
    </nav>
    
    <%- content %>
    
    <footer>Built with moo.</footer>
</body>
</html>